
bin/AndroidManifest.xml

bin/RUOK.apk

*.dex

*.class

bin/res/crunch/drawable-hdpi/ic_launcher.png

bin/res/crunch/drawable-mdpi/ic_launcher.png

bin/dexedLibs/android-support-v4-e6a516d6cc894e6238e7cd834ab072e1.jar

bin/res/crunch/drawable-xhdpi/ic_launcher.png

bin/res/crunch/drawable-xxhdpi/ic_launcher.png

bin/resources.ap_

gen/com/dsa157/ruok/BuildConfig.java

gen/com/dsa157/ruok/R.java
